.footerContact {
    background-color: #202222;
    padding: 40px 0;
    color: #fff;
  }
  .footerContact h1 {
    font-size: 40px;
  }
  footer {
    background-color: #1d2636;
    padding: 50px 0;
    color: #fff;
  }
  footer .container {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 1fr;
    grid-gap: 20px;
  }
  footer img {
    width: 150px;
  }
  footer h2 {
    font-weight: 500;
  }
  footer p {
    color: grey;
    margin: 20px 0;
  }
  footer input {
    background-color: #fff;
    padding: 8px 17px ;
    width: 100%;
    border-radius: 5px;
  }
  footer h3 {
    font-weight: 500;
    margin-bottom: 30px;
  }
  footer ul {
    display: block;
  }
  footer ul li {
    display: block;
    color: grey;
    margin-bottom: 20px;
  }
  .footericon
  {
    margin-left: 400px;
    
    font-size: 30px;
  }
  .Terms
  {
    margin-left: 85%;
    margin-top: -55px;
    
  }
  .Terms:hover {
    /* Add hover styles here */
    /* For example: */
    color: blue; /* Change text color on hover */
    text-decoration:dashed /* Underline text on hover */
  }
  .btn9 {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    margin-left: 30px;
    margin-right: 80px;
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: rgb(232, 65, 65);
    /* Add any additional styling for the button */
}
  .legal {
    text-align: center;
    padding: 20px;
    background: #1d2636;
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  @media screen and (max-width: 800px) {
    footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  