/* CSS for the SupportPage Component */

.helpwhole
{
  background-color: #333;
background: url("../images/help.jpg");
background-size: cover;
background-position: center;
display: flex;
width:100%;
margin-top: -8px;
margin-left: -7px;

margin-bottom: -9px;

}
.support-page {
  position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 53px;
    padding: 20px;
        
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .cancel-button
  {
    font-size: 15px;
    margin-left: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
   
  }
  .page-title {
    font-size: 24px;
    color: #333;
  }
  
  .contact-info, .contact-form {
    margin-top: 20px;
  }
  
  .contact-info h3, .contact-form h3 {
    font-size: 20px;
    color: #333;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #4c00b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 240px;
  }
  
  .submit-button:hover {
    background-color: #3c009d;
  }
  