/* termsandcondition.css */

/* Styles for the terms card */
/* .terms-whole
{
    background-color: #777;
  
} */
.terms-card-container {
    max-width: 83%;
    margin: 50px auto;
  }
  
  .terms-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .terms-card-content {
    padding: 20px;
  }
  
  /* Styles for headings */
  .terms-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .terms-subheading {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  /* Styles for paragraphs */
  .terms-paragraph {
    line-height: 1.6;
  }
  
  /* Style for last updated info */
  .terms-last-updated {
    font-style: italic;
    font-size: 12px;
    color: #777;
  }
  
  /* Styles for the terms card footer */
  .terms-card-footer {
    padding: 20 30px;
    text-align: center;
  }
  
  /* Style for the "I Agree" button */
  .agree-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #141515;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1%;
  }
  
  .agree-button:hover {
    background-color: #0056b3;
  }
  